.slick-slide {
  width: 310px !important;
  margin-right: 10px;
}

.slider-arrow {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/* button .slick-arrow {
  position: fixed;
  color: antiquewhite;
  background-color: aliceblue;
  z-index: 99999;
} */

.slick-next {
  position: fixed;
  z-index: 999;
  right: 10px;
}

.slick-prev {
  position: fixed;
  z-index: 999;
  left: 5px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
}
